sentence-transformers==2.7.0
torch==2.2.2
torchaudio==2.2.2
transformers==4.38.2
datasets==2.18.0
accelerate==0.27.2
tensorflow==2.14.0
langchain-mistralai==0.1.8
soundfile==0.12.1
librosa==0.10.1
numpy==1.26.4
scipy==1.11.4
tqdm==4.66.2
jiwer
